
colorPrimary: #44c0c2;
colorHover: #f8f9fb;
textColor: #4e525d;

cardBackground-1: #485460;
cardButton-1: #788492;
cardBackground-2: #49cbcd;
cardText: #8c9299;

iconFacebook: #3b5997;
iconGoogle+: #e44c41;


font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
